/*body*/
body {
    padding: 0;
    margin: 0;
    background: var(--cream);
    width: auto;
    height: 7797px;
}

/*colors*/
:root {
    --blue: #C2E1FD;
    --red: #F8614E;
    --pink: #FED4CE;
    --dark: #202932;
    --cream: #FAF4F2;
}

/*text styles*/
.h1 {
    color: var(--red);
    text-align: left;
    font: 56px Qaligo;
    line-height: 88px;
    margin: 0;
    white-space: nowrap;
}
.h2 {
    color: var(--red);
    font: 36px Qaligo;
    margin: 0;
}
.h3 {
    color: var(--dark);
    font-weight: semibold;
    font-size: 24px;
    font-family: Poppins;
    margin: 0;
    line-height: 32px;
}
.body-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--dark);
    margin: 0;
}
.caption {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: var(--dark);
    margin: 0;
}

/*misc*/
.line {
    background-color: var(--blue);
    border-width: 0;
    height: 6px;
    border-radius: 3px;
    margin: 0;
}
.button {
    background-color: var(--pink);
    border-width: 0;
    height: 40px;
    border-radius: 20px;
    user-select: none;
}

/*content*/
/*header*/
.home-button {
    color: var(--red);
    font: 16px Qaligo;
    margin: 0;
    line-height: 16px;
    position: absolute;
    left: 32px;
    top: 32px;
    text-decoration: none;
}
.header-image {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
    z-index: -10;
}
.header-body {
    position: absolute;
    left: 120px;
    top: 272px;
}
.header-role {
    position: absolute;
    width: 154px;
}
.header-h1 {
    position: relative;
    top: 58px;
}
.header-line {
    position: absolute;
    width: 60px;
    top: 173px;
}
.header-h3 {
    position: absolute;
    top: 215px; 
}
.header-description {
    position: absolute;
    width: 600px;
    top: 257px;
}

/*challenge*/
.challenge-box {
    position: absolute;
    width: 83.333%;
    height: 400px;
    left: 8.333%;
    top: 820px;
    background: #FFFFFF;
    border-radius: 100px 0px 0px 0px; 
}
.challenge-h3 {
    position: relative;
    left: 100px;
    top: 100px;
}
.challenge-description {
    position: absolute;
    width: 440px;
    top: 148px;
    left: 100px;
}

/*solutions*/
.solutions-h2 {
    position: absolute;
    text-align: right;
    right: 200px;
    top: 1340px;
}
.solutions-line {
    position: absolute;
    right: 200px;
    top: 1448px;
    width: 60px;
    margin: 0;
}

/*login & signup*/
.login-signup-h3 {
    text-align: right;
    position: absolute;
    top: 1499px;
    right: 200px;
}
.login-signup-body-text {
    text-align: right;
    position: absolute;
    top: 1547px;
    right: 200px;
    width: 392px;
}
.login-signup-image {
    position: absolute;
    height: 480px;
    width: 528px;
    left: 200px;
    top: 1499px;
}

/*home*/
.home-background {
    position: absolute;
    background-color: var(--pink);
    width: 100%;
    height: 720px;
    top: 2099px;
}
.home-h3 {
    position: relative;
    top: 120px;
    left: 200px;
}
.home-body-text {
    position: absolute;
    top: 168px;
    left: 200px;
    width: 450px;
}
.home-image {
    position: absolute;
    height: 480px;
    width: 470px;
    right: 200px;
    top: 120px;
}
.home-caption {
    position: relative;
    width: 167px;
    top: 445px;
    left: 1100px;
}

/*explore*/
.explore-section {
    position: absolute;
    width: 100%;
    height: 1168px;
    top: 2819px; 
}
.explore-h3 {
    position: relative;
    top: 120px;
    left: 200px;
}
.explore-body-text {
    position: absolute;
    top: 168px;
    left: 200px;
    width: 680px;
}

/*my garden*/
.my-garden-background {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 943px;
    top: 3987px;
}

/*favorites*/


/*profile*/
.profile-background {
    position: absolute;
    background-color: var(--pink);
    width: 100%;
    height: 714px;
    top: 5650px;
}

/*style*/
.style-background {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 793px;
    top: 6364px;
}

/*conclusion*/
.conclusion-box {
    position: absolute;
    width: 83.333%;
    height: 400px;
    left: 8.333%;
    top: 7277px;
    background: #FFFFFF;
    border-radius: 0px 0px 100px 0px;   
}
.conclusion-h3 {
    position: relative;
    left: 100px;
    top: 100px;
}